.footer {
  &__top {
    padding: 88px 0 83px;
    text-align: center;
    background: #2a2a2a;
    
    @media (max-width: 1023px) {
      padding: 70px 0 70px 0;
    }
  }
  
  &__bottom {
    padding: 26px;
    text-align: center;
    background: #515151;
  }
  
  &__title {
    margin-bottom: 20px;
    font-family: $ff-main-bold;
    font-size: 1.8125rem;
    color: #fff;
  }
  
  &__links {
    margin-bottom: 35px;
  }
  
  &__social {
    display: inline-block;
    margin-left: 20px;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    
    &:hover {
      border: 1px solid #de2b24;
    }
    
    &:first-child {
      margin-left: 0;
    }
  }
  
  &__text {
    margin-bottom: 30px;
    font-size: .875rem;
    color: #cecece;
  }
  
  &__field {
    width: 67%;
    margin: 0 auto 27px;
    
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  
  &__input {
    width: 100%;
    padding: 20px;
    font-size: .875rem;
    color: #cecece;
    background: #515151;
    border: 0;
  }
  
  .button {
    padding: 15px 37px;
    font-family: $ff-main-bold;
    font-size: 1.0625rem;
    color: #fff;
    background-color: transparent;
    border: 2px solid #515151;
    
    &:hover {
      border: 2px solid #de2b24;
    }
  }
  
  &__copy {
    font-size: .875rem;
    color: #cecece;
  }
}